record(subArray,"tpm_AB$(FILE)_00") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"0")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_01") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"1")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_02") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"2")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_03") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"3")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_04") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"4")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_05") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"5")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_06") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"6")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_07") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"7")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_08") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"8")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_09") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"9")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_10") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"10")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_11") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"11")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_12") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"12")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_13") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"13")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_14") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"14")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_15") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"15")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_16") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"16")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_17") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"17")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_18") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"18")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_19") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"19")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_20") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"20")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_21") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"21")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_22") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"22")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_23") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"23")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_24") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"24")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_25") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"25")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_26") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"26")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_27") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"27")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_28") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"28")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_29") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"29")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_30") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"30")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
record(subArray,"tpm_AB$(FILE)_31") {
	field(DESC,"PLC:Word in Allen-Bradley file $(FILE)")
	field(SCAN,"1 second")
	field(DTYP,"Soft Channel")
	field(INP,"tpm_AB$(FILE).VAL")
	field(NELM,"1")
	field(MALM,"32")
	field(INDX,"31")
	field(FTVL,"USHORT")
	field(PHAS,"2")
}
